/* Styles spécifiques pour l'impression */

/* Masquer les éléments non pertinents */
header,
footer,
nav,
aside,
header a,
a,
footer p {
	display: none;
}

/* Ajuster la taille de la police pour l'impression */
body {
	font-size: 10pt;
}

/* Ajouter des marges pour l'impression */
@page {
	margin: 2cm;
}

/* Ajouter des styles supplémentaires pour l'impression */
body {
	background-color: #f5f5f5;
}
